<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Business.Properties.Settings.someeishopConnectionString"
            connectionString="Data Source=someeishop.mssql.somee.com;Initial Catalog=someeishop;User ID=thiensubs_SQLLogin_1;Password=m6sk5sl14n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>